<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% digimons.forEach(val=>{ %>

        <h1><%= val.name %></h1>
        <img src="<%= val.img %>" alt="">
        <p><%= val.level %></p>
        <% }) %>

        <form id="<%= val.id %>" action="/thedetails" method="get">
        <button > show-details"</button>
    </form>

   
</body>
</html>